body {
  font-family: Arial;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}

p {
  padding: 0 0 20px 0;
  line-height: 1.7em;
}

.navbar {
  background-color: #33272763;
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: whitesmoke;
  color: #ff69b4;
}

.container {
  display: flex;
  padding: 20px;
}

.main-content {
  flex: 3;
  margin-right: 20px;
}

.sidebar {
  flex: 1;
}



.sidebar form {
  display: flex;
}

.sidebar form input[type="text"] {
  flex: 1;
  padding: 5px;
}

a {
  color: #ff69b4;
}

.sidebar form button {
  background-color: #333;
  border: none;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
}


a {
  
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 200px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 5px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings .submit
{ font: 100% arial; 
  border: 1px solid; 
  width: 99px; 
  margin: 0 0 0 212px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #000; 
  color: #FFF;}

.form_settings textarea, .form_settings select
{ font: 100% arial; 
  width: 299px;}

.form_settings select
{ width: 310px;}

.form_settings .checkbox
{ margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;}
